# Vivado
.Xil/
xsim.dir/
xsim.covdb/
out/
*.jou
*.log
*.pb
*.o
*.so

# Quartus II
db/
incremental_db/
greybox_tmp/
*.rpt
*.summary
*.qpf
*.qsf
*.bak
*.txt
*.done
*.jdi
*.pin
*.sld
*.sof
*.smsg
*.qws
*.wdb
.qsys_edit/

# Vivado IP
axi_vip_0_ex/

# Project
build/
bin/
slpp_all/

# Yosys
synth.v

*.map
*.elf

scripts/

# Verilator
obj_dir/

# VCD
*.vcd

# Vim session
Session.vim
