# Vivado
xsim.dir/
xsim.covdb/
out/
build/
*.jou
*.log
*.pb
*.o
*.so

# Quartus II
db/
incremental_db/
greybox_tmp/
*.rpt
*.summary
*.qpf
*.qsf
*.bak
*.txt
*.done
*.jdi
*.pin
*.sld
*.sof
*.smsg
*.qws
